<h1>Tổng hợp tài liệu</h1>
<br>
<h2>Sản phẩm luận văn</h2>
<ul>
	<li>
		<p>Trang chủ ứng dụng Quản lý API key<a href="http://asr.vietspeech.com:3200" target="blank"> Link</a></p>
	</li>
	<li>
		<p>Trang EventStore (Audit log)<a href="http://asr.vietspeech.com:2113" target="blank"> Link</a></p>
		<small>Username/Password <b><i>admin/changeit</i></b></small>
	</li>
	<li>
		<p>API Python speech recognize<a href="http://asr.vietspeech.com:5000" target="blank"> Link</a></p>
	</li>
	<li>
		<p>Website demo ứng dụng<a href="http://asr.vietspeech.com:3000" target="blank"> Link</a></p>
	</li>
	<li>
		<p>Github chứa mã nguồn<a href="https://github.com/thanhtinhpas1/ViSpeech" target="blank"> Link</a></p>
	</li>
	<li>
		<p>Github chứa mã nguồn Mobile<a href="https://github.com/thanhtinhpas1/ViSpeechMobile" target="blank"> Link</a>
		</p>
	</li>
	<li>
		<p>SDK JS NPM<a href="https://www.npmjs.com/package/asr-vietspeech" target="blank"> Link</a></p>
	</li>
	<li>
		<p>SDK JS Github<a href="https://github.com/trankhanhlinh/vispeech-asr" target="blank"> Link</a></p>
	</li>
	<li>
		<p>SDK Java<a href="https://github.com/thanhtinhpas1/asr-sdk-java" target="blank"> Link</a></p>
	</li>
	<li>
		<p>Google Drive chứa tài liệu:
			<a href="https://drive.google.com/open?id=1c1aPS0eonciKdBbvKs2pCWk2j5502-Gp" target="blank">Link</a>
		</p>
	</li>
	<li>
		<p>Quản lý nhóm Trello<a href="https://trello.com/b/RqjDfVzk" target="blank"> Link</a></p>
	</li>
</ul>
<br>
<hr>
<ul>

	{{!-- <li>
		<p>Video bảo vệ thử khoá luận:
			<a href="#" target="blank">Link Youtube <b>(not available)</b> </a>
		</p>
	</li> --}}

	{{!-- <li>
		<p>Video hướng dẫn cài đặt, sử dụng:
			<a href="#" target="blank">Link Youtube <b>(not available)</b></a>
		</p>
	</li> --}}
	{{!-- 
	<li>
		<p>Video demo ứng dụng:
			<a href="#" target="blank">Link Youtube <b>(not available)</b></a>
		</p>
	</li> --}}

	{{!-- <li>
		<p>Slide thuyết trình bảo vệ:
			<a href="#" target="blank">(Bản PPTX) <b>(not available)</b></a>
		</p>
	</li> --}}
	{{!-- 
	<li>
		<p>Luận văn:
			<a href="#" target="blank">(Bản PDF) <b>(not available)</b></a>
			<a href="thesic-vispeech.docx" target="blank">(Bản DOCX)</a>
		</p>
	</li> --}}

	{{!-- <li>
		<p>Hướng dẫn cài đặt, biên dịch:
			<a href="#" target="blank">(Bản PDF) <b>(not available)</b></a>
			<a href="#" target="blank">(Bản DOCX) <b>(not available)</b></a>
		</p>
	</li>

	<li>
		<p>Hướng dẫn triển khai:
			<a href="#" target="blank">Bản PDF <b>(not available)</b></a>
			<a href="#" target="blank">Bản DOCX <b>(not available)</b></a>
		</p>
	</li> --}}

	{{!-- <li>
		<p>Hướng dẫn sử dụng:
			<a href="#" target="blank">Bản PDF <b>(not available)</b></a>
			<a href="#" target="blank">Bản DOCX <b>(not available)</b></a>
		</p>
	</li> --}}
</ul>
<hr>
<br>
<h1>Cập nhật quá trình</h1>
<ul>
	<h2>29-02-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_29-02-2020.txt">release_notes_29-02-2020.txt</a></li>
	<br>
	<h2>06-01-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-01-27.txt">release_notes_06-01-2020.txt</a></li>
	<br>

	<h2>13-01-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_13-01-2020.txt">release_notes_13-01-2020.txt</a></li>

	<br>
	<h2>20-01-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_20-01-2020.txt">release_notes_20-01-2020.txt</a></li>
	<br>

	<h2>27-01-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-01-27.txt">release_notes_27-01-2020.txt</a></li>
	<br>

	<h2>05-02-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-02-05.txt">release_notes_2020-02-05.txt</a></li>

	<br>

	<h2>12-02-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-02-12.txt">release_notes_2020-02-12.txt</a></li>

	<br>

	<h2>19-02-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-02-19.txt">release_notes_2020-02-19.txt</a></li>

	<br>

	<h2>26-02-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-02-26.txt">release_notes_2020-02-26.txt</a></li>

	<br>

	<h2>07-03-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-03-07.txt">release_notes_2020-03-07.txt</a></li>

	<br>

	<h2>14-03-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020-03-14.txt">release_notes_2020-03-14.txt</a></li>

	<br>

	<h2>26-03-2020</h2>
	<li><a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020_03-26.txt">release_notes_2020_03-26.txt</a></li>

	<br>
	<h2>02-04-2020</h2>
	<li>
		<a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li><a href="release_notes_2020_04-02.txt">release_notes_2020_04-02.txt</a></li>

	<br>
	<h2>04-10-2020</h2>
	<li>
		<a
			href="https://studenthcmusedu-my.sharepoint.com/:f:/g/personal/1612704_student_hcmus_edu_vn/EvuMO2L3TtVAmnrJb1x6tNkBK7bPxE9ek3ETZViiCEYqsQ?e=cmnV8u">One
			drive folder</a>
	</li>
	<li>
		<a href="release_notes_2020-04-10.txt">release_notes_2020-04-10.txt</a>
	</li>
	<br>
	<h2>04-16-2020</h2>
	<li>
		<a href="release_notes_2020-04-16.txt">release_notes_2020-04-16.txt</a>
	</li>
	<br>
	<h2>04-23-2020</h2>
	<li>
		<a href="release_noted_23-04-2020.txt">release_noted_23-04-2020.txt</a>
	</li>
	<br>
	<h2>
		05-01-2020
	</h2>
	<li><a href="release_noted_01-05-2020.txt">release_noted_01-05-2020.txt</a></li>
	<br>
	<h2>10-5-2020
		<h2 />
		<li><a href="release_notes_10-5-2020.txt">release_notes_10-5-2020.txt</a></li>
		<br>
		<h2>17-5-2020
			<h2 />
			<li><a href="release_notes_17-5-2020.txt">release_notes_17-5-2020.txt</a></li>
</ul>
<hr>